if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

direnv_layout_dir() {
    echo "$PWD/.direnv/$(hostname)"
}

watch_file ./.nix/flake.lock
watch_file ./.nix/flake.nix
watch_file uv.lock

DEVENV_ROOT_FILE="$(mktemp)"
FLAKE_PATH_FILE="$(mktemp)"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"
printf %s "$PWD/.nix/flake.nix" > "$FLAKE_PATH_FILE"
if ! use flake path:./.nix --override-input devenv-root "file+file://$DEVENV_ROOT_FILE" --override-input flake-path "file+file://$FLAKE_PATH_FILE"
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to .nix/flake.nix and hit enter to try again." >&2
fi